[Unit]
Description=keyswap for Terminal and GUI
After=syslog.target

[Service]
Type=simple
User=ryanreaves
Group=ryanreaves
Environment=DISPLAY=:0
Restart=always
WorkingDirectory=/home/ryanreaves/.config/
ExecStart=/usr/bin/python3 /home/ryanreaves/.config/keyswap.py

[Install]
WantedBy=multi-user.target