#~/.config/systemd/user
[Unit]
Description=keyswap for Terminal and GUI
PartOf=graphical-session.target

[Service]
Type=simple
#User=ryanreaves
#Group=ryanreaves
Environment=DISPLAY=:0
Restart=always
WorkingDirectory=/home/ryanreaves/.config/
#ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash /home/ryanreaves/.config/xactive.sh

[Install]
WantedBy=xsession.target
