[Unit]
Description=keyswap for Terminal and GUI
After=syslog.target

[Service]
Type=simple
User=ryanreaves
Group=ryanreaves
Environment=DISPLAY=:0
Restart=always
WorkingDirectory=/home/ryanreaves/.config/
ExecStart=/bin/bash /home/ryanreaves/.config/xactive.sh

[Install]
WantedBy=multi-user.target
